
body {
background-color: pink;
}
.title {
  font-size: 50px;
  font-family: fantasy;
  text-transform: uppercase;
  color: teal;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 5px;
}
img {
border-radius: 100px;
padding: 5px;
width: 70%;
align-items: center;
background-blend-mode: lighten;
border: 1px solid;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.parag  {
  padding-right: 10px;
  font-family: Arial;
  margin: 10px;
}


#fp {
  color: gray;
}


ul {
  font-family: fantasy;
}

.nav-link {
  font-family: fantasy, Helvetica, sans-serif;
  float: center;
  font-size: 20px;
  padding: 14px 16px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;

}


tr {
  padding: 20px;
  margin: 20px;
  grid-template-columns: auto auto auto auto;
  }
@media (max-width: 500px) {
  body{
  color: yellow;
}
}
.tab th td  {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 30px;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  align: center;
}
.list {
  margin: 10px;
}
